cu-task-list-header-field.cu-task-list-header-field.cdk-drag.cu-task-list-header__item.ng-star-inserted(mwlresizable='' cdkdrag='' data-test='task-list-header_column__Assignee' style='width: 100px;')
  .cu-task-list-header-field__handle.icon.ng-star-inserted
    svg.ng-star-inserted
      use(xlink:href='https://app.clickup.com/map.6f2d0b6974d0feef5753.svg#svg-sprite-handle3')
  .cu-task-list-header-field__resizer.cu-task-list-header-field__resizer_left.ng-star-inserted(mwlresizehandle='')
  .cu-task-list-header-field__resizer.cu-task-list-header-field__resizer_right.ng-star-inserted(mwlresizehandle='')
  cu-dropdown-list.cu-dropdown-list.cu-task-list-header-field__item
    .cu-dropdown(cudropdown='')
      .cu-dropdown__toggle(cudropdowntoggle='')
        cu-editable.cu-editable
          .cu-task-list-header-field__title.ng-star-inserted
            div(id=`${listName}-ID`).cu-task-list-header-field__title-text  #{listName}
            .cu-task-list-header-field__dir.ng-star-inserted
              .cu-task-list-header-field__dir-icon.cu-task-list-header-field__dir-icon_unsorted.icon.ng-star-inserted
                svg.ng-star-inserted
                  use(xlink:href='https://app.clickup.com/map.6f2d0b6974d0feef5753.svg#svg-sprite-sort-menu')