.cu-float-button__toggle-simple-container-pinned
  #cuApiButton.cu-float-button__toggle-simple-container-pinned-item(style='color:#31679d')
    .cu-float-button__toggle-simple-container-pinned-item-icon.icon.ng-star-inserted
      svg.ng-star-inserted
        use(xlink:href='https://app.clickup.com/map.6f2d0b6974d0feef5753.svg#svg-sprite-activity-template-merged')